body {
    background: #137F35;
  }

.dadosVeriador{
    display: flex;
}


.dadoVeriadorTexto{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 50px;
    padding-left: 15px;
    font-size: 1.5em;
}
.dadoVeriadorImg img{
    border-radius: 50%;
   
}