.menuPrincipal {
  flex-grow: 20;
}

.menuPrincipal ul{
  display: flex;
  list-style: none;
}

.menuPrincipal li{
  margin: 0px 1px;
  align-self: flex-start;
}

.menuPrincipal a{
  text-decoration: none;
  color: black;
  background-color: yellow;
  font-size: 1.3em;
  padding: 15px 15px;
}

.menuPrincipal a:hover{
  background-color: blue;
  color: white;
}