body {
  /* background-color: red; */
  /* background-image: url(3282d31fe497b0d2cb21a7c36b380ef3.png); */
  background-repeat: no-repeat;
  background-position: center; }

.botao {
  background-color: #13b3e6;
  color: #fff;
  font-size: 1.8em; }

